<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="test1()" style="width: fit-content;"><h3>Click Me</h3> </button> <br> <br>
  <button (click)="test1()" style="width: fit-content;"><h3>Click Here</h3> </button>
  <button (click)="test1()" style="width: fit-content;"><h3>Check Result</h3> </button>

</div>

<router-outlet></router-outlet>
